<h2>Games/Teams Intersection Table</h2>

<table id="game-teams-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.idgame}}>
            <td>{{this.game_id}}</td>
            <td>{{this.team_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Delete a Game</h3>
<p>Delete a M:N relationship</p>
<form id="delete-game-team-drop-down-form">
    <label for="delete-game-team-drop-down">Game id:</label>
    <select name="delete-game-team-drop-down" id="delete-game-team-drop-down">
        <option value="">Select a Game ID</option>
        {{#each gameIds}}
            <option values="{{this.game_id}}">{{this.game_id}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>


<script src="./js/gamesAndTeams/delete_games_and_teams.js"></script>