<h2>Games/Teams Intersection Table</h2>

<table id="game-teams-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.idgame}}>
            <td>{{this.game_id}}</td>
            <td>{{this.team_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Search Games</h3>
<p>Search by game using the field below.</p>
<form id="search-game-html" method='GET' action='/gamesandteams'>
    <label for="input-idgame">Search by Game: </label>
    <input type="text" name="idgame" id="input-idgame-html-search">
    
    <input type="submit">
    <a href='/gamesandteams'><button>Reset</button></a>
</form>

<h3>Add a M:N relationship</h3>
<p>Add a game-team M:N Relationship</p>
<form id="add-game-team-form" method="POST" action="/gamesandteams/add">
    
    <label for="input-winningteam" class="form-required">Winning Team: </label>
    <select name="input-winningteam" id="input-winningteam" required>
        <option value="">Winning Team</option>
        {{#each teams}}
            <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>

    <label for="input-losingteam" class="form-required">Losing Team: </label>
    <select name="input-losingteam" id="input-losingteam" required>
        <option value="">Losing Team</option>
        {{#each teams}}
            <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>

    <label for="input-winningscore" class="form-required">Winning Score: </label>
    <input type="number" name="input-winningscore" id="input-winningscore" required>

    <label for="input-losingscore" class="form-required">Losing Score: </label>
    <input type="text" name="input-losingscore" id="input-losingscore" required>

    <label for="input-location" class="form-required">Location: </label>
    <input type="text" name="input-location" id="input-location" required>


    <input type="submit">
</form>


<h3>Delete a Game</h3>
<p>Delete a M:N relationship</p>
<form id="delete-game-team-drop-down-form">
    <label for="delete-game-team-drop-down">Game id:</label>
    <select name="delete-game-team-drop-down" id="delete-game-team-drop-down">
        <option value="">Select a Game ID</option>
        {{#each gameIds}}
            <option values="{{this.game_id}}">{{this.game_id}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>


<script src="./js/gamesAndTeams/delete_games_and_teams.js"></script>