<header>
    <h1>Pitchers</h1>
        <img src="./images/baseball_340.png" width="50px" height="50px">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="teams">Teams</a></li>
            <li><a href="players">Players</a></li>
            <li><a href="pitchers">Pitchers</a></li>
            <li><a href="positions.html">Position Players</a></li>
            <li><a href="games.html">[Games]</a></li>
            <li><a href="games_has_teams.html">Games-Teams</a></li>
        </ul>
    </nav>
</header>

<h2>Pitchers</h2>
<p>Add a pitcher</p>

<table id="pitchers-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.idpitcher}}>
            <td>{{this.idpitcher}}</td>
            <td>{{this.name}}</td>
            <td>{{this.innings_pitched}}</td>
            <td>{{this.earned_runs_average}}</td>
            <td><button onclick="deletePitcher('{{this.idpitcher}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Add a pitcher here</h3>
<p>To add a new pitcher, please select the pitchers from below enter their information below and click `Submit`!</p>
<p>If the pitcher you want to add is not listed below, navigate to our <a href=players>players</a> page and add the pitcher there.</p>
<form id="add-pitcher-form" method="POST" action="/pitchers/add">
    <select name="input-pitchername" id="input-pitchername" required>
        <option value="">Select a Pitcher</option>
        {{#each pitchersFromPlayers}}
        <option value="{{this.playername}}">{{this.playername}}</option>
        {{/each}}
    </select>
    
    <label for="input-innings">Innings Pitched: </label>
    <input type="number" step="0.1" name="input-innings" id="input-innings">

    <label for="input-era">Earned Run Average: </label>
    <input type="number" step="0.1" name="input-era" id="input-era">

    <input type="submit">

</form>

<h3>Search Pitchers</h3>
<p>Search by name using the field below</p>
<form id="search-player-html" method='GET' action='/pitchers'>
    <label for="input-playername">Search by Player Name: </label>
    <input type="text" name="playername" id="input-playername-html-search">
    
    <input type="submit">
    <a href='/pitchers'><button>Reset</button></a>
</form>

<h3>Update a Pitcher</h3>
<p>To update a specific pitcher, select their name from the drop-down menu on the left and enter their information on the right</p>
<form id="update-pitcher-form">

    <label for="input-idpitcher">Player name: </label>
    <select name="input-idpitcher" id="mySelect" required>
        <option value="">Select a Pitcher</option>
        {{#each data}}
            <option value="{{this.idpitcher}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-innings">Innings Pitched: </label>
    <input type="number" step="0.1" name="input-innings" id="input-innings-update">

    <label for="input-era">Earned Runs Average: </label>
    <input type="number" step="0.1" name="input-era" id="input-era-update">

    <input type="submit">

</form>
<script src="./js/pitchers/update_pitcher.js"></script>

