<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>


<a href="/">Teams</a>
<a href="/players">Players</a>

{{!-- Create a table --}}
<table id="players-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.playername}}>
            <td>{{this.playername}}</td>
            <td>{{this.age}}</td>
            <td>{{this.ispitcher}}</td>
            <td>{{this.isretired}}</td>
            <td>{{this.isfreeagent}}</td>
            <td>{{this.teamname}}</td>
            <td><button onclick="deletePlayer('{{this.playername}}')">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_player.js"></script>


{{!-- Does not work --}}
{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new player, please enter their information below and click 'Submit'!</p>
<form id="add-player-form-ajax">
    <label for="input-playername">Player Name: </label>
    <input type="text" name="input-playername" id="input-playername">
    
    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <label for="input-ispitcher">Is Pitcher?: </label>
    <input type="number" name="input-ispitcher" id="input-ispitcher">

    <label for="input-isretired">Is Retired?: </label>
    <input type="number" name="input-isretired" id="input-isretired">

    <label for="input-isfreeagent">Is Free Agent? </label>
    <input type="number" name="input-isfreeagent" id="input-isfreeagent" > 

        <select name="input-teams_teamname" id="input-teams_teamname-ajax">
        <option value="">Select a Team</option>
        {{#each teams}}
        <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_player.js"></script>




<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new team, please enter their information below nad click `Submit`!</p>
<form id="add-player-form" method="POST" action="/add-player-form">
    <label for="input-playername">Player Name: </label>
    <input type="text" name="input-playername" id="input-playername">
    
    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <label for="input-ispitcher">Is Pitcher?: </label>
    <input type="number" name="input-ispitcher" id="input-ispitcher">

    <label for="input-isretired">Is Retired?: </label>
    <input type="number" name="input-isretired" id="input-isretired">

    <label for="input-isfreeagent">Is Free Agent? </label>
    <input type="number" name="input-isfreeagent" id="input-isfreeagent" > 

     <select name="input-teams_teamname" id="input-teams_teamname-ajax">
        <option value="">Select a Team</option>
        {{#each teams}}
        <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>

    <input type="submit">

</form>


  <h2>Search Using an HTML Form</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-player-html" method='GET' action='/players'>
    <label for="input-playername">Search by Player Name: </label>
    <input type="text" name="playername" id="input-playername-html-search">
    
    <input type="submit">
    <a href='/players'><button>Reset</button></a>
</form>