<h2>Baseball Players</h2>
<p>Add a baseball player</p>
{{!-- Create a table --}}
<table id="players-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.playername}}>
            <td>{{this.playername}}</td>
            <td>{{this.age}}</td>
            <td>{{this.ispitcher}}</td>
            <td>{{this.isretired}}</td>
            <td>{{this.isfreeagent}}</td>
            <td>{{this.teamname}}</td>
            <td><button onclick="deletePlayername('{{this.playername}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<!-- /views/index.hbs -->
<h3>Add a baseball player here</h3>
<p>To add a new player, please enter their information below and click `Submit`!</p>
<p>If the player is a pitcher, retired, or a free agent, enter one for that value. Otherwise enter a zero.</p>
<form id="add-player-form" method="POST" action="/players/add-player-form">
    <label for="input-playername" class="form-required">Player Name: </label>
    <input type="text" name="input-playername" id="input-playername" required>
    
    <label for="input-age" class="form-required">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <label for="input-ispitcher" class="form-required">Is Pitcher?: </label>
    <input type="number" name="input-ispitcher" id="input-ispitcher" required>

    <label for="input-isretired" class="form-required">Is Retired?: </label>
    <input type="number" name="input-isretired" id="input-isretired" required>

    <label for="input-isfreeagent" class="form-required">Is Free Agent? </label>
    <input type="number" name="input-isfreeagent" id="input-isfreeagent" required> 

    <label for="input-teams_teamname" class="form-required"></label>
    <select name="input-teams_teamname" id="input-teams_teamname-ajax" required>
        <option value="">Select a Team</option>
        {{#each teams}}
        <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>

    <input type="submit">

</form>


<h3>Search Players</h3>
<p>Search by name using the field below</p>
<form id="search-player-html" method='GET' action='/players'>
    <label for="input-playername">Search by Player Name: </label>
    <input type="text" name="playername" id="input-playername-html-search">
    
    <input type="submit">
    <a href='/players'><button>Reset</button></a>
</form>


<h3>Updating A Player Form</h3>
<p>To update a specific player select their name from the drop-down menu on the left and their enter their information on the right. NULLable relationship</p>
<form id="update-player-form-ajax">

    <label for="input-playername" class="form-required">Player name: </label>
    <select name="input-playername" id="mySelect" required>
        <option value="">Select a Player</option>
        {{#each data}}
            <option value="{{this.playername}}">{{this.playername}}</option>
        {{/each}}
    </select>

    {{!-- NULLable Relationship --}}
    <label for="input-teamname">Team name: </label>
    <select name="input-teamname" id="input-teamname-update">
        <option value="">Select a Team</option>
        {{#each teams}}
            <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>

    <label for="input-age" class="form-required">Age: </label>
    <input type="number" name="input-age" id="input-age-update" required>

    <label for="input-ispitcher" class="form-required">isPitcher: </label>
    <input type="number" name="input-ispitcher" id="input-ispitcher-update" required>

    <label for="input-isretired" class="form-required">isRetired: </label>
    <input type="number" name="input-isretired" id="input-isretired-update" required >

    <label for="input-isfreeagent" class="form-required">isFreeagent: </label>
    <input type="number" name="input-isfreeagent" id="input-isfreeagent-update" required>
    <input type="submit">

</form>

<script src="./js/players/update_player.js"></script>
<script src="./js/players/delete_player.js"></script>
