<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Baseball Teams</h2>
<p>Add a baseball team</p>

{{!-- Create a table --}}
<table id="teams-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            {{!-- <th>Delete</th> --}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.teamname}}>
            <td>{{this.teamname}}</td>
            <td>{{this.location}}</td>
            <td>{{this.gameswon}}</td>
            <td>{{this.gameslost}}</td>
            {{!-- <td><button onclick="deleteTeam('{{this.teamname}}')">Delete</button></td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>



<!-- /views/index.hbs -->
<h3>Add a baseball team</h3>
<p>To add a new team, please enter their information below and click `Submit`!</p>
<form id="add-team-form" method="POST" action="/teams/add">
    <label for="input-teamname" class="form-required">Team Name: </label>
    <input type="text" name="input-teamname" id="input-teamname" required>
    
    <label for="input-location" class="form-required">Location: </label>
    <input type="text" name="input-location" id="input-location" required>

    <label for="input-gameswon" class="form-required">Games Won: </label>
    <input type="number" name="input-gameswon" id="input-gameswon" required>

    <label for="input-gameslost" class="form-required">Games Lost: </label>
    <input type="number" name="input-gameslost" id="input-gameslost" required>

    <input type="submit">
</form>



<h3>Search Teams</h3>
<p>Search by teamname using the field below. Partial last names are OK too!</p>
<form id="search-team-html" method='GET' action='/teams'>
    <label for="input-teamname">Search by Team Name: </label>
    <input type="text" name="teamname" id="input-teamname-html-search">
    
    <input type="submit">
    <a href='/teams'><button>Reset</button></a>
</form>


<h3>Updating A Team Form</h3>
<p>To update a specific team select their name from the drop-down menu on the left and their enter their wins and losses on the right</p>
<form id="update-team-form-ajax">

    <label for="input-teamname" class="form-required">Team name: </label>
    <select name="input-teamname" id="mySelect" required>
        <option value="">Select a Team</option>
        {{#each teams}}
            <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>

    <label for="input-gameswon" class="form-required">Games Won: </label>
    <input type="number" name="input-gameswon" id="input-gameswon-update" required>

    <label for="input-gameslost" class="form-required">Games Lost: </label>
    <input type="number" name="input-gameslost" id="input-gameslost-update" required>
    <input type="submit">

</form>

<script src="./js/teams/update_team.js"></script>

<h3>Delete a Team Drop-down Menu</h3>
<p>To delete a specific team, select their name from the drop-down menu and click submit</p>
<form id="delete-team-drop-down-form">
    <label for="delete-team-drop-down">Team name:</label>
    <select name="delete-team-drop-down" id="delete-team-drop-down-select">
        <option value="">Select a Team</option>
        {{#each teams}}
            <option value="{{this.teamname}}">{{this.teamname}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

<script src="./js/teams/delete_team.js"></script>